.tab {
    padding: 0px 10px;
    float: left;
    border-right: 1px #333 solid;
    cursor: pointer;
}

.tab:hover {
    background: #333;
}

.tab.active {
    color: #78d834;
    font-weight: bold;
}

.tabs {
    background: #111;
    color: #999;
}

.cursor {
    position: absolute;
    z-index: 100;
    border-left: 5px solid #FFF;
    border-top: 5px solid #FFF;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.term-container{
    float: left;
}